.leaftlet-container{
    height: 100vh;
}
.texto{
    line-height: 15px;
    text-align: center;
}
.mensagem {
	height: 250px;
    border-radius: 10px;
    background-color: grey;
    padding: 10px;
}
.box {
	width: 900px;
    margin-top: -100px;
}

.modal-container  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}